* {
    margin: 0;
    padding: 0;
}
.html {
    font-family: "tahoma", "arial";
    color: #ffffff;
}
.container {
    background-image: url("../img/bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 1280px;
    height: 800px;
    display: block;
}
header {
    padding: 40px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    overflow: auto;
}
header a {
    color: #ffffff;
    text-decoration: none;
    border: 3px solid #ffffff;
    border-radius: 99px;
    padding: 16px 30px;
}
header span {
    line-height: 78px;
    font-weight: bold;
}
header a.leftButton {
    background: url(../img/leftArrow.png) no-repeat center left 20px;
    padding-left: 80px;
    float: left;
}
header a.leftButton:active {
    background-color: rgba(255,255,255,0.3)
}
header a.rightButton {
    background: url(../img/rightArrow.png) no-repeat center right 20px ;
    padding-right: 80px;
    float: right;
}
header a.rightButton:active {
    background-color: rgba(255,255,255,0.3)
}
article {
    padding: 40px;
    overflow: auto;
}
.content {
    width: 100%;
    float: left;
    text-align: center;
    padding: 48px 0;
}
.auth {
    width: 100%;
    font-size: 38px;
    margin: 0 auto;
    padding: 0;
}
.auth li {
    background: url(../img/buttonsBg.png) no-repeat 0 0;
    width: 268px;
    height: 268px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}
.auth li img {
    position: absolute;
    left: 70px;
    top: 75px;
}
.auth li span {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    top: 280px;
    position: relative;
}
.auth li:active {
    background: url(../img/buttonsBg.png) no-repeat -268px 0;
}
.auth li:active img {
    left: 70px;
    top: 77px;
    opacity: 0.9;
}
.auth li.showcase:nth-child(1) {
    background: url(../img/buttonsBg.png) no-repeat -532px 0;
}
.auth li.showcase:nth-child(2) {
    background: url(../img/buttonsBg.png) no-repeat -804px 0;
}
.auth li.showcase:nth-child(3) {
    background: url(../img/buttonsBg.png) no-repeat -1072px 0;
}
.auth li.showcase:nth-child(4) {
    background: url(../img/buttonsBg.png) no-repeat -1340px 0;
}
.auth li.showcase img {
    -webkit-filter: brightness(0) invert(1);
}

/* Hide */

.hidden {
    visibility: hidden;
}

/* Hide */