body {
    width: 1280px;
    height: 800px;
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
}



li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo_container {
    top: 0px;
    left: 0px;
    position: absolute;
}

.item_container {
    top: 150px;
    left: 0px;
    position: absolute;
}

.item {
    float: left;
    width: 198px;
    height: 198px;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    margin: 45px 0px 45px 250px;
    font-size:80px;
    text-align:center;
    color:black;
}




.glowing-item { 
    outline: none;
    border-color: #ed9e9e;
    box-shadow: 0 0 100px #ed9e9e;
}

.rotate{
    transform: rotate(90deg);
}

.clearl{
    clear: left;
}

