* {
    margin: 0;
    padding: 0;
}

body {
    font: Verdana, Sans-Serif;
    background: #eee;
    width: 1280px;
    height: 800px;
}

#numpad_container {
    position: absolute;
    margin-top: 35px;
    margin-left: 205px;
    width: 500px;
    top: 170;
    left: 0;
}

#ticket_container {
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

#loading_container {
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

#candidate_container {
    top: 0;
    left: 0;
    width: 1280px;
    height: 800px;
    visibility: hidden;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

#value_container {
    position: absolute;
    top: 150;
    left: 0;
    width: 500px;
    text-align: center;
}

.wrapper {
    position: absolute;
    margin-top: 35px;
    margin-left: 100px;
    width: 640;
    top: 170;
    left: 500;
}

.wrapper canvas {
    position: absolute;
    width: 640;
    height: 480;
}

.logo_container {
    top: 0px;
    left: 0px;
}

#keyboard {
    margin: 20px 0px 0px 330px;
    padding: 0;
    list-style: none;
}

#numpadOut {
    align-self: center;
    font-size: 24px;
    line-height: 60px;
}

#donutchart {
    top: 150px;
    left: 0px;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    visibility: hidden;
    position: absolute;
}

#offer {
    top: 150px;
    left: 0px;
    width: 1250px;
    height: 650px;
    visibility: hidden;
    position: absolute;
}

.image {
    margin: 100px 0px 0px 340px;
}

#keyboard li {
    float: left;
    margin: 0px 5px 5px 10px;
    width: 188px;
    height: 75px;
    font-size: 24px;
    line-height: 75px;
    text-align: center;
    border-radius: 5px;
}

.greenb {
    background: #99ff99;
}

.redb {
    background: #ff9999;
}

.blueb {
    background: #99ffff;
}

#ticket {
    width: 240px;
    height: 240px;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    top: 150px;
    left: 1000px;
    position: absolute;
    visibility: hidden;
}

#candidate {
    margin: 160px 0px 0px 140px;
    width: 1000px;
    height: 480px;
    font-size: 80px;
    line-height: 480px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}

.capslock,
.tab,
.left-shift,
.clearl,
.switch {
    clear: left;
}

#keyboard .tab,
#keyboard .delete {
    width: 205px;
}

#keyboard .teller {
    width: 250px;
    height: 200px;
    background-color: #ff0066;
    line-height: 200px;
}

#keyboard .custrep {
    width: 250px;
    height: 200px;
    background-color: #0033cc;
    line-height: 200px;
}

#keyboard .exit {
    width: 250px;
    background-color: #ff0066;
    margin: 20px 0px 0px 520px;
}

#keyboard .scan {
    margin: 160px 0px 0px 300px;
    width: 300px;
    height: 200px;
    line-height: 200px;
}

#keyboard .teller_ocr {
    width: 250px;
    background-color: #ff0066;
    margin: 10px 0px 0px 100px;
    border: 0px;
}

#keyboard .custrep_ocr {
    width: 250px;
    background-color: #0033cc;
    margin: 10px 0px 0px 100px;
    border: 0px;
}

#keyboard .cancel_number {
    width: 250px;
    background-color: #d30c0c;
    margin: 10px 0px 0px 160px;
    border: 0px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 90px;
}

#keyboard .left-shift {
    width: 70px;
}

#keyboard .switch {
    width: 90px;
}

#keyboard .rightright-shift {
    width: 109px;
}

.lastitem {
    margin-right: 0;
}

.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    float: left;
    width: 556px;
}

#keyboard .switch,
#keyboard .space,
#keyboard .return {
    font-size: 16px;
}

.on {
    display: none;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loaderpepper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

00% {
    transform: rotate(360deg);
}

.blink_me {
    -webkit-animation: blinker 1s linear infinite;
    color: red;
}

@-webkit-keyframes blinker {
    0% {
        -webkit-opacity: 1.0;
    }
    50% {
        -webkit-opacity: 0.0;
    }
    100% {
        -webkit-opacity: 1.0;
    }
}

.leaveapp {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 1120px;
}

#exit {
    background: #e27378;
    border: 5px solid #e27378;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    text-align: center;
    line-height: 80px;
    font-size: 80px;
    color: snow;
}

#bars {
    height: 100px;
    left: 50%;
    margin: -30px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 200px;
    visibility: hidden;
}

.bar {
    bottom: 5px;
    height: 3px;
    position: absolute;
    width: 15px;
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
}

@-webkit-keyframes sound {
    0% {
        -webkit-opacity: .35;
        height: 10px;
    }
    100% {
        -webkit-opacity: 1;
        height: 50px;
    }
}

.bar:nth-child(1) {
    background: #9400D3;
    left: 1px;
    -webkit-animation-duration: 474ms;
}

.bar:nth-child(2) {
    background: #4B0082;
    left: 17px;
    -webkit-animation-duration: 433ms;
}

.bar:nth-child(3) {
    background: #0000FF;
    left: 33px;
    -webkit-animation-duration: 407ms;
}

.bar:nth-child(4) {
    background: #00FF00;
    left: 49px;
    -webkit-animation-duration: 458ms;
}

.bar:nth-child(5) {
    background: #FFFF00;
    left: 65px;
    -webkit-animation-duration: 400ms;
}

.bar:nth-child(6) {
    background: #FF7F00;
    left: 81px;
    -webkit-animation-duration: 427ms;
}

.bar:nth-child(7) {
    background: #FF0000;
    left: 97px;
    -webkit-animation-duration: 441ms;
}

.bar:nth-child(8) {
    background: #9400D3;
    left: 113px;
    -webkit-animation-duration: 419ms;
}

.bar:nth-child(9) {
    background: #4B0082;
    left: 129px;
    -webkit-animation-duration: 487ms;
}

.bar:nth-child(10) {
    background: #0000FF;
    left: 145px;
    -webkit-animation-duration: 442ms;
}




/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */


.triangle-isosceles {
    position: relative;
    padding: 15px;
    margin: 10px 0px 30px;
    color: #000;
    background: #01b3c3;
    border-radius: 10px;
    font-size: 24px;
    height: 75px;
}


/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
    background: #01b3c3;
    margin-left: 200px;
}


/* creates triangle */

.triangle-isosceles:after {
    content: "";
    position: absolute;
    bottom: -15px;
    /* value = - border-top-width - border-bottom-width */
    left: 50px;
    /* controls horizontal position */
    border-width: 15px 15px 0;
    /* vary these values to change the angle of the vertex */
    border-style: solid;
    border-color: #01b3c3 transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}


/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
    top: -15px;
    /* value = - border-top-width - border-bottom-width */
    right: 50px;
    /* controls horizontal position */
    bottom: auto;
    left: auto;
    border-width: 0 15px 15px;
    /* vary these values to change the angle of the vertex */
    border-color: #01b3c3 transparent;
}

